/* start section home */
.home{
    background-color: black;
    width: 2px;
    height: 2px;
}

.home h1{
    padding: 20px 0px;
}

.card{
    display: none;
}
.home h1{
    color: #fff;
    display: none;
}

.home h1 span{
    color: orangered;
}

.home .one{
    color: green;
}

.home .two{
    color: #1b00ff;
}

.home .three{
    color: red;
}
/* end section home */

























































































